<div class="navigation">
   <div class="container">
      <a href="/index.html#landing-cover">
         <img class="logo" src="../assets/images/header_logo.png" />
      </a>
      <div id="menuToggle">
         <input type="checkbox" />
         <span></span>
         <span></span>
         <span></span>
         <ul id="menu">
            <a href="/index.html#landing-about"><li>¿Quiénes somos?</li></a>
            <a href="/index.html#landing-mission"><li>Misión y Visión</li></a>
            <a href="/meetups.html"><li class="nav-button">Meetups</li></a>
            <a
               href="https://youtube.com/@weborderpodcast?si=dvXq2qwbgVFyameJ&sub_confirmation=1"
               target="_blank"
               rel="nofollow"
               ><li class="nav-button">Podcast</li></a
            >
         </ul>
      </div>
   </div>
</div>
